.nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
    padding-left: 18px;
    padding-right: 18px;
}

.navbar {
    margin-left: auto;
}


.nav img {
    height: 50px;
    width: auto;
}


.navbar {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}


.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.05rem;
}

.navbar a:hover {
    text-decoration: underline;
}